@use 'null';
@use 'fonts';

// html {
//   background: #000;
// }

.bg {
  width: 100% !important;
  align-items: start;
}

.logo {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 100px;
  position: relative;
  z-index: 2;
  font-weight: 900;
  pointer-events: none;
  text-shadow: 0px 0px 10px #000;
}